<% if obj.errors.any? %>
    <div class="alert alert-danger">
      The form contains <%= pluralize(obj.errors.count, "error") %>.
    </div>
    <ul>
      <% obj.errors.full_messages.each do |error| %>
        <%= content_tag :li, error %>
      <% end %>
    </ul>

<% end %>

